.race-over {
  z-index: 1;
  position: 'relative';
  margin: 0 auto;
  margin-top: 50px;
  width: 200px;
  background: '#000a';
  padding: 10;
  color: 'white';
  font-family: 'monospace';
  text-align: 'right';
}
